@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


::-webkit-scrollbar{
    display: none;
}

body{
    background: #faf8ff;
    overflow-x: hidden;
    /* font-size: 68.5%; */
    }

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}